/* header */

/* about */
.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-title {
    padding-bottom: 55px;
}

.section-title h3 {
    font-weight: 700;
    color: #323258;
    font-size: 50px;
}

.about h6 {
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 600;
}

.about h5 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 24px;
}

.about h2 {
    line-height: 1;
    font-size: 48px;
    color: #323258;
    margin-bottom: 18px;
}

.about .content {
    padding-bottom: 30px;
}

.about .content p {
    font-size: 18px;
    line-height: 1.7;
    color: #687898;

}

.about ul {
    list-style-type: none;
    margin-bottom: 40px;
}

.about ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.about ul span {}

.about ul label {
    font-weight: 600;
    color: #323258;

}

.about .btn-cv .btn-primary {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: 500;
}

/* resume */
.resume {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .box {
    position: relative;
    text-align: center;
    border-radius: 36px;
    padding: 40px 20px;
    margin: 0 10px;
    transition: ease all 0.35s;
}

.services .box-img {
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #1877F2;
    margin-bottom: 30px;
}

.services .box-content {}

.services .box-content h4 {
    font-size: 20px;
    color: #323258;
    font-weight: 600;
    margin-bottom: 15px;
}

.services .box-content p {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
}

/* work */
.work {
    padding-top: 60px;
    padding-bottom: 60px;
}

.work .work-box {}

.work .work-img {
    overflow: hidden;
}

.work .work-img:hover img{
    transform: scale(1);
}

.work .work-content {
    margin-top: 20px;
}

.work .work-content h6 {
    font-size: 15px;
    color: #687898;
    margin-bottom: 10px;
}

.work .work-content h4 {
    font-size: 24px;
    color: #323258;
    font-weight: 700;
}

/* what */
.what {
    padding-top: 60px;
    padding-bottom: 60px;
}

.what .info-box {}

.what .info-box h5 {}

.what .info-box p {}

.what .info-box h4 {}

/* blog */
.blog {
    padding-top: 60px;
    padding-bottom: 60px;
}
.blog-box{
    transition: 0.3s;
}
.blog-box:hover .blog-img img{
    transform: scale(1);
}
.blog .blog-img {
    border-radius: 17px;
    overflow: hidden;
}

.blog .blog-img img {}

.blog .blog-content {
    padding-top: 40px;
}

.blog .blog-content h6 {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.blog .blog-content h4 {}

.blog .blog-content p {
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    margin: 0;
    max-width: 90%;
}

/* contact */