/* header */
.navbar-nav .nav-item {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;

}

.navbar-nav .nav-item .nav-link.active {
    color: #4894f7;
}

.navbar-nav .nav-item .nav-link {
    color: black;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #4894f7;
}

/* home */
.home {}

.intro-box {}

.user-text {}

.user-text h6 {
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #323258;
    margin: 0;
    display: flex;
    align-items: center;
}

.user-text h6 img {
    margin-right: 8px;
    width: 25px;
}

.user-text h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 0.7;
    color: #4894f7;
    margin-top: 26px;
    margin-bottom: 30px;
}

.user-text h2 {
    font-size: 20px;
    font-weight: 600;
    color: #323258;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.user-text h2 span {
    color: #4894f7;
}

.user-img {}

.user-img img {}

.user-review {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 20px 48px 70px;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    margin-top: 350px;
    
}

.user-review .star {
    color: #4894f7;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.user-review .star i {}

.user-review p {
    font-weight: 500;
    font-size: 20px;
    color: #323258;
}

.user-review h6 {
    font-size: 22px;
    color: #4894f7;
    font-weight: 600;
    margin: 0;
}

/* about */
.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-title {
    padding-bottom: 55px;
}

.section-title h3 {
    font-weight: 700;
    color: #323258;
    font-size: 50px;
}

.about h6 {
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 600;
}

.about h5 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 24px;
}

.about h2 {
    line-height: 1;
    font-size: 48px;
    color: #323258;
    margin-bottom: 18px;
}

.about .content {
    padding-bottom: 30px;
}

.about .content p {
    font-size: 18px;
    line-height: 1.7;
    color: #687898;

}

.about ul {
    list-style-type: none;
    margin-bottom: 40px;
}

.about ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.about ul span {}

.about ul label {
    font-weight: 600;
    color: #323258;

}

.about .btn-cv .btn-primary {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: 500;
}

/* resume */
.resume {
    background-color: #F8FBFF;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* icon */
.skill-box {}

/* .skill-flex{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
} */
.logo-icon {
    width: 100px;
    height: 100px;
    background: pink;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
}

.logo-icon i {
    font-size: 50px;
    margin-top: 22px;

}

.logo-icon p {
    font-size: 16px;
    font-weight: 600;
    color: #323258;
}

.skill-box h6 {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 22px;
    margin: 0;
}

/* box */
.resume-box {
    margin-top: 40px;
}

.resume-box .info {
    color: #4894f7;
    font-weight: 600;
    font-size: 20px;
}

.resume-box .text h5 {
    font-weight: 700;
    color: #323258;
    font-size: 24px;
    line-height: 1;
    margin: 0 0 4px;
}

.resume-box .text span {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
}

.resume-box .info {
    display: flex;
    justify-content: space-between;
}

.resume-box .info h6 {}

.resume-box label {
    font-size: 16px;
    margin-left: auto;
    text-align: right;
}

/* services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .box {
    position: relative;
    text-align: center;
    border-radius: 36px;
    padding: 40px 20px;
    margin: 0 10px;
    transition: ease all 0.35s;
}

.services .box-img {
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color:#4894f7;
    margin-bottom: 30px;
}

.services .box-content {}

.services .box-content h4 {
    font-size: 20px;
    color: #323258;
    font-weight: 600;
    margin-bottom: 15px;
}

.services .box-content p {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
}

/* work */
.work {
    background-color: #F8FBFF;
    padding-top: 60px;
    padding-bottom: 60px;
}

.work .work-box {}

.work .work-img {
    overflow: hidden;
}

.work .work-img:hover img {
    transform: scale(1);
}

.work .work-content {
    margin-top: 20px;
}

.work .work-content h6 {
    font-size: 15px;
    color: #687898;
    margin-bottom: 10px;
}

.work .work-content h4 {
    font-size: 24px;
    color: #323258;
    font-weight: 700;
}

/* what */
.what {
    padding-top: 60px;
    padding-bottom: 60px;
}

.what-icon {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.what .info-box {
    padding: 36px 48px;
    background: #F2F6FF;
    border-radius: 17px;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}

.what-icon i {
    width: 96px;
    height: 96px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #4894f7;
    background: #F2F6FF;
    margin-bottom: 30px;
    border-radius: 50%;
}

.what .info-box .star-icon {
    justify-content: center;
    color:#4894f7;
    margin-bottom: 30px;
}

.what .info-box h5 {}

.what .info-box p {
    font-size: 20px;
    font-weight: 400;
}

.what .info-box h4 {
    margin-top: 30px;
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 700;
}

/* blog */
.blog {
    background-color: #F8FBFF;
    padding-top: 60px;
    padding-bottom: 60px;
}

.blog-box {
    transition: 0.3s;
}

.blog-box:hover .blog-img img {
    transform: scale(1);
}

.blog .blog-img {
    border-radius: 17px;
    overflow: hidden;
}

.blog .blog-img img {}

.blog .blog-content {
    padding-top: 40px;
}

.blog .blog-content h6 {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.blog .blog-content h4 {}

.blog .blog-content p {
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    margin: 0;
    max-width: 90%;
    color: #687898;
}

/* contact */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
}

.form-content {
    margin-bottom: 30px;
}

.contact-info {
    margin-bottom: 50px;
}

.contact-info .email {
    text-decoration: none;
    background: rgba(225, 67, 247, 0.08);
}

.contact .phone {
    text-decoration: none;
    background: rgba(24, 119, 242, 0.08);
}

.contact img {
    margin-right: 15px;
}

.contact-form .form-content .form-control {
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #C5CFE4;
    padding-left: 0;
    padding-right: 0;
}

.contact-form .form-floating {
    margin-bottom: 30px;
}

/* footer */
.social-link {}

.footer .social-link a {
    text-decoration: none;
    width: 36px;
    height: 36px;
    border: 1px solid #4894f7;
    color:#4894f7;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 5px;
}

.social-link a:hover {
    background: #4894f7;
    color: white;
}

/*  */
.footer {
    border-top: 1px solid #C5CFE4;
    padding: 12px 0;
}